* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}


/* header page */

#header {
    width: 100%;
    height: 100vh;
    background-image: url(./Personal-portfolio/image_123650291-Photoroom.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
} 



.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 130px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0066ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text span {
    color: #0066ff;
}



/* about me */

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1 {
    flex-basis: 35%;
}

.col1 img {
    width: 100%;
    border-radius: 15px;
    min-height: 50vh;
    min-width: 32vh;
}

.col2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: 500;
    color: #fff;
}

/* tabs in about me */ 

.tabs {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 30px;
}

.links {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0066ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.links.active::after {
    width: 50%;
}

.links.active:hover::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none; 
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #0066ff;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* My Services  */

#services {
    padding: 30px 0;

}

.servicelist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}